//--------------------------------------------------------------
//   COLORS
//
// - Primary palette
// - Secondary palette
//
//-------------------------------------------------------------

// Primary palette
$color-blue: #0074D9;
$color-green: #2ECC40;
$color-red: #FF4136;

// Secondary palette
$color-orange: #FF851B;
$color-yellow: #FFDC00;