//--------------------------------------------------------------
//   COLORS
//
// - Primary palette
// - Secondary palette
// - Gray scale
// - Social media
//
//-------------------------------------------------------------

// Primary palette
$color-blue: #0074D9;
$color-green: #2ECC40;
$color-red: #FF4136;

// Secondary palette
$color-orange: #FF851B;
$color-yellow: #FFDC00;

// Gray scale
$color-black: #000000;
$color-white: #ffffff;
$color-gray: mix($color-black, $color-white, 50%); // #808080

// Here we can use $color-gray to mix our variation palette (not required):
// http://razorjam.github.io/sasscolourfunctioncalculator/
$color-dark-gray: darken(saturate(adjust-hue($color-gray, 0.0000), 0.0000), 10.5882); // #666666
$color-darker-gray: darken(saturate(adjust-hue($color-gray, 0.0000), 0.0000), 30.5882); // #333333
$color-darkest-gray: darken(saturate(adjust-hue($color-gray, 0.0000), 0.0000), 43.9216); // #111111
$color-light-gray: lighten(saturate(adjust-hue($color-gray, 0.0000), 0.0000), 29.4118); // #cccccc
$color-lighter-gray: lighten(saturate(adjust-hue($color-gray, 0.0000), 0.0000), 36.0784); // #dddddd
$color-lightest-gray: lighten(saturate(adjust-hue($color-gray, 0.0000), 0.0000), 42.7451); // #eeeeee