---
title: Base
---
<h1>{{title}}</h1>
<p>TODO: Describe what an base is</p>

{{#each pages}}
  {{#contains this.dest "base"}}
  {{#isnt ../../page.dest this.dest}}
  <a name="{{basename}}"></a>
  <div class="markdown__body">
    {{#markdown}}
      {{{page}}}
    {{/markdown}}
  </div>
  {{/isnt}}
  {{/contains}}
{{/each}}
